/* Wrapper */
.headerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 75%;
  max-width: 1200px;
  padding: 24px 28px;
  background: #fcfdfe;
  /* background: #020617; */
  border-radius: 999px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25);
  transition: gap 0.3s ease;
}

/* When search is open */
.header.search-active {
  justify-content: center;
}

/* Hide elements */
.hideOnSearch {
  transition: opacity 0.2s ease, width 0.2s ease;
}

.header.search-active .hideOnSearch {
  opacity: 0;
  pointer-events: none;
  width: 0;
  overflow: hidden;
}

/* Logo */
.logo {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

/* Search */
.searchBox {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 36px;
  padding: 0 10px;

  border-radius: 999px;
  border: 1px solid #1e293b;
  /* background: #020617; */
  background: #fafafe;

  cursor: pointer;
  overflow: hidden;
  transition: width 0.35s ease;
}

.searchBox.open {
  width: 420px;
  cursor: text;
}

.searchIcon {
  /* color: #94a3b8; */
  color: #1b1b1c;
  font-size: 14px;
  flex-shrink: 0;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  /* color: white; */
  color: rgb(6, 6, 6);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.searchBox.open .searchInput {
  opacity: 1;
}

/* Nav */
.navLinks {
  display: flex;
  gap: 18px;
}

.navLinks a {
  /* color: #cbd5f5; */
  color: #161616;
  text-decoration: none;
}

/* Button */
.btn {
  padding: 6px 14px;
  border-radius: 999px;
  border: 1px solid #334155;
  background: transparent;
  /* color: white; */
  color: rgb(16, 15, 15);
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    width: 92%;
    padding: 12px 18px;
  }

  .navLinks {
    display: none;
  }

  .searchBox.open {
    width: 100%;
  }
}
