/* DEFAULT */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  transition: background 0.3s ease, color 0.3s ease;
}

/* DARK MODE */
.dark body {
  background: #020617;
  color: white;
}

/* LIGHT MODE */
.light body {
  background: #f8fafc;
  color: #020617;
}
